body {
    background-image: url("https://media0.giphy.com/media/3ov9jUCYetT3GVwcy4/giphy.gif?cid=ecf05e479fyhirrrjjko1n8x5wutk3pz1gy6753o73s01ve5&rid=giphy.gif&ct=g");
    background-size: cover;
}
#nameOfGame {
    text-align: center;
    font-size: 50px;
    color: rgb(196, 6, 6)
}
main {
    display: flex;
    justify-content: center;

}

#nameOfGame {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
canvas {
    background-image: url("https://media.istockphoto.com/photos/poker-table-picture-id1046326882?k=20&m=1046326882&s=612x612&w=0&h=G7D7aw9iB8p1A9LH26O9e6p8Pt5p82B44MbWPrIZmRo=");
    background-size: cover;
    background-position: 0% 60%;
    border: 1px solid black;
    width: 90%;
    height: 90%;   
}

.boxes {
    display: flex;
    justify-content: center;
}



.cards {
    height: 10px;
    width: 15px;
    display: none;
}

button {
    border-radius: 50%;
    height: 100px;  
    width: 100px;
    margin-left: 20px;  
}

.buttons {
    margin-top: 25px;
   
    display: flex;
    justify-content: center;
}

#hit {
    background-color: blue;    
    border: 2px solid black;
}
#deal {
    background-color: green;
    border: 2px solid black;
}
#result {
    text-align: center;
}

#jigsaw {
    display: none;
}